# app details
APP_NAME=ECOMMERCE
APP_ENV=local
APP_KEY=sha256:base64:OGI4ZjNmZDYzYTA1OGI0YmU1YjRiZjg5NzIzZjIxOTZmZTUzMzc2ODdlMjk3ZTJhNTFiOTBiNzUxMTllNTMzYg==
APP_DEBUG=true
APP_URL=http://localhost:3000
APP_PORT=3000
PORT=3000
SALT=10
NODE_ENV=development

#cross origin
CORS_ORIGIN=*

#rate limit
REQUEST_BODY_LIMIT=10000
RATE_LIMIT_WINDOW_MS=600000
RATE_LIMIT_MAX=100000000000

#logs
LOG_LEVEL_INFO=trace
LOG_LEVEL_ERROR=error
LOG_LEVEL_DEBUG=debug
LOG_LEVEL=trace

#db connection
PG_MASTER_HOST=127.0.0.1
PG_MASTER_PORT=5432
PG_MASTER_DATABASE=ecommerce
PG_MASTER_SCHEMA=master
PG_MASTER_USERNAME=root
PG_MASTER_PASSWORD=root123

# Database Retry Configuration
DB_RETRY_MAX_ATTEMPTS=
DB_RETRY_BASE_DELAY_MS=
DB_RETRY_MAX_DELAY_MS=
DB_RETRY_JITTER_MS=
DB_RETRY_EXPONENTIAL_BASE=
DB_LOCK_CHUNK_SIZE=

# jwt configuration
JWT_SECRET=cEVlQkliNFVpRHo5d1RqenJOV1V5NVhkY3ludEpadVg4dVorYWJBN3krQT0=
JWT_TTL=1800000
JWT_REFRESH_SECRET=PWSs/bgjvT1ZTvo+/NNwuX5josjnz4i3EPm0zYmvs18=
JWT_REFRESH_TTL=1800000

# cache connection
REDIS_CLIENT=
REDIS_CLUSTER=
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_USERNAME=admin
REDIS_PASSWORD=adminpass

AUTH_TOKEN_BLOCKLIST_REDIS_KEY=auth-token-black-list:

REDIS_SCHEME=
REDIS_PREFIX=

# mail connection
MAIL_MAILER=
MAIL_HOST=
MAIL_PORT=
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_ENCRYPTION=
MAIL_FROM_ADDRESS=
MAIL_FROM_NAME=

# queue RabitMQ configuration
RABBITMQ_HOST=
RABBITMQ_PORT=
RABBITMQ_USER=
RABBITMQ_PASSWORD=

# aws s3 configuration sqs
AWS_ENDPOINT=http://localhost:4566
AWS_ACCESS_KEY_ID=test
AWS_SECRET_ACCESS_KEY=test
AWS_DEFAULT_REGION=eu-west-1
AWS_REGION=eu-west-1
AWS_BUCKET=profiles
AWS_USE_PATH_STYLE_ENDPOINT=true
AWS_PRESIGNED_ENDPOINT=http://localhost:4566
AWS_S3_PRESIGNED_URL_SALT=saltsecret

# SQS Configuration (LocalStack)
#docker cred
_SQS_PREFIX=http://localhost.localstack.cloud:4566/000000000000
_SQS_ENDPOINT=http://localhost.localstack.cloud:4566
_SQS_KEY_ID=test
_SQS_SECRET_ACCESS_KEY=test
_SQS_DEFAULT_REGION=eu-west-1
SQS_SUFFIX=
#local cred
SQS_ENDPOINT=http://localhost:4566
SQS_PREFIX=http://localhost:4566/000000000000
SQS_KEY_ID=test
SQS_SECRET_ACCESS_KEY=test
SQS_DEFAULT_REGION=eu-west-1

# Queue URLs - matches what your shell script creates
CLEANUP_DELETE_FILES=http://localhost.localstack.cloud:4566/000000000000/clean-up-delete-files.fifo
# SQS Configuration (Local Host Version)

# observabilities