/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;


.app-color-primary {
  color : #2e5cda;
}

.app-color-white {
  color : white;
}

.app-bg-color-primary {
  background-color : #2e5cda;
}
