<input
  [type]="type"
  [value]="value"
  [placeholder]="placeholder"
  [disabled]="disabled"
  [readOnly]="readonly"
  (input)="onValueChange($event)"

  class="
    h-11
    w-full
    rounded-lg
    border
    border-[#D9DFEA]
    bg-white
    px-3.5
    text-sm
    text-[#101828]
    outline-none
    transition
    placeholder:text-[#98A2B3]
    focus:border-[#436CF3]
    focus:ring-2
    focus:ring-[#EAF1FF]
    disabled:cursor-not-allowed
    disabled:bg-[#F7F9FC]
    disabled:text-[#98A2B3]
  "
/>
