<nexora-form-field
  label="Customer Name"
  [required]="true"
  helpText="Enter the customer's legal name"
>

  <nexora-input
    placeholder="Enter customer name"
  />

</nexora-form-field>


<nexora-form-field
  label="Email"
  [required]="true"
>

  <nexora-input
    type="email"
    placeholder="name@example.com"
  />

</nexora-form-field>

<nexora-form-field label="Employees">

  <nexora-input
    type="number"
    placeholder="Enter number of employees"
  />

</nexora-form-field>


<nexora-form-field label="Password">

  <nexora-input
    type="password"
    placeholder="Enter password"
  />

</nexora-form-field>

